/* Style the HTML elements according to the following instructions. 
DO NOT ALTER THE EXISTING HTML TO DO THIS.  WRITE ONLY CSS! */
/*You may need to research some other selectors and properties*/
body
{
    background-color:  #bdc3c7;
}
/* Give the <body> element a background of #bdc3c7*/
h1
{
    color: #9b59b6;
}
/* Make the <h1> element #9b59b6*/
h2
{
    color: orange;
}
/* Make all <h2> elements orange */
li
{
    color: #67C8FF;
}
/* Make all <li> elements blue(pick your own hexadecimal blue)*/ 
p
{
    background-color: purple;
}
/*Change the background on every paragraph to be purple*/
.hello
{
    background-color: white;
}
/* Give everything with the class 'hello' a white background*/
#special
{
    border: 2px #3766B7 solid;
}
/* Give the element with id 'special' a 2px solid blue border(pick your own rgb blue)*/

div p
{ 
    font-size: 25px;
}
/*Make all the <p>'s that are nested inside of divs 25px font(font-size: 25px)*/

/*BONUS CHALLENGES*/
/* Make the <h*> elements all UPPERCASE without changing the HTML(definitely look this one up)*/


